@import "colours.css";
@import "forms.css";
@import "modals.css";
@import "reset.css";
@import "styles.css";
@import "typography.css";


:root{
    --color-primary: rgb(0, 0, 0);
    --color-secondary: rgb(150, 52, 0);
    --color-text: #FFFFFF;
    --color-border: rgb(216, 54, 0);
    --color-button: rgba(116, 116, 116, 0.5);
    --color-button-hover: #acacac;
}


body {
    background-color: var(--color-primary);
    color: var(--color-text);
}

a:hover{
    color:var(--color-primary);
}



nav{
    background: linear-gradient(to bottom, #C64C00, #421901, black);
}