@import "colours.css";
@import "forms.css";
@import "modals.css";
@import "reset.css";
@import "styles.css";
@import "typography.css";

form{
    width: 40vw;
    background-color: black;
    padding: 1rem;
    font-family: Menlo;
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
}

form label {
    display: inline-block;
    width: 40rem;
    margin-top: 0.8rem;
}

form input{
    display: inline-block;
    width: 40vw;
    margin: 0rem;
    padding: 0.4rem;
    border-radius: 0.3rem;
}

form input:valid{
    background-color: rgb(143, 176, 169);
}

form input:invalid{
    background-color: rgb(198, 143, 126);
}

form input:focus{
    border-color: rgb(250, 207, 160);
}