form{
    width: 40rem;
    background-color: black;
    padding: 1rem;
    font-family: Menlo;
    color: white;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
}

form label {
    display: inline-block;
    width: 40rem;
    margin-right: 0rem;
}

form input{
    display: inline-block;
    width: 40vw;
    margin: 0rem;
    padding: 0.5rem;
    border-radius: 0.8vw;
}

input:valid{
    background-color: lightblue;
}

input:invalid{
    background-color: lightpink;
}

input:focus{
    border-color: aqua;
}