
/* The Modal (background) */
/* make modal class */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 0px; /* Location of the box */
  left: 200;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.756); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #363636e0;
  padding: 0;
  width: 20rem;
  height: 100vh;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.cart-modal-content{
  margin-left: auto;
}


.menu-modal-content {
  margin-right: auto;
}



/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.cartClose {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cartClose:hover,
.cartClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.menuClose {
  color: white;
  position: fixed;
  left: 250px;
  font-size: 28px;
  font-weight: bold;
}

.menuClose:hover,
.menuClose:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


.modal-header {
  padding: 50px 30px;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  color: rgb(86, 86, 86);
}



/* CART */
.cart-slide-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.modal-subtotal{
  margin: 0rem;
  margin-top: 2rem;
}



/* MENU */
.menu-modal-content{
  background: linear-gradient(to bottom, #C64C00, #421901, black);
}

.modal-body > .logo{
  width: 10rem;
  display: block;
  margin: auto auto 2rem;
}

.menu-container {
  width: 80%;
  max-width: 600px;
  margin: auto auto;
}

button.accordion {
  width: 100%;
  background-color: rgba(181, 181, 181, 0.063);
  font-family: Menlo;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  color: rgb(143, 143, 143);
  cursor: pointer;
  transition: background-color 0.2s linear;
  margin-top: 1rem;
}

button.accordion:after {
  content: '\f055';
  font-family: "fontawesome";
  font-size: 14px;
  float: right;
}

button.accordion.is-open:after {
  content: '\f056';
}

button.accordion:hover, button.accordion.is-open {
  color: rgb(255, 255, 255);
}

.accordion-content {
  background-color: none;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.accordion-content > a{
  color: rgb(255, 255, 255);
  display: block;
  padding: 8px;
  text-decoration: none;
  margin-left: 10px;
}

.accordion-content > a:hover{
  color: rgb(201, 74, 0);
}