@import "../CSS/colours.css";
@import "../CSS/forms.css";
@import "../CSS/modals.css";
@import "../CSS/reset.css";
@import "../CSS/styles.css";
@import "../CSS/typography.css";



/* MODAL - BACKGROUND */
.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 0px; 
  left: 200;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.756); /* Black w/ opacity */
}

/* MODAL - CONTENT */
.modal-content {
  position: relative;
  background-color: #363636e0;
  padding: 0;
  width: 20rem;
  height: 100vh;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s
}


/* MODAL ANIMATION */
@-webkit-keyframes animateright {
  from {right:-300px; opacity:0} 
  to {right:0; opacity:1}
}

@keyframes animateright {
  from {right:-300px; opacity:0}
  to {right:0; opacity:1}
}


@-webkit-keyframes animateleft {
  from {left:-300px; opacity:0} 
  to {left:0; opacity:1}
}

@keyframes animateleft {
  from {left:-300px; opacity:0}
  to {left:0; opacity:1}
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop{
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}



/* MODAL CLOSE*/
.cartClose {
  color: var(--color-text);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cartClose:hover,
.cartClose:focus {
  color: var(--color-primary);
  text-decoration: none;
  cursor: pointer;
}

.menuClose {
  color: var(--color-text);
  position: fixed;
  left: 250px;
  font-size: 28px;
  font-weight: bold;
}

.menuClose:hover,
.menuClose:focus {
  color: var(--color-primary);
  text-decoration: none;
  cursor: pointer;
}


/* MODAL OTHER */
.modal-header {
  padding: 50px 30px;
  color: var(--color-text);
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  color: rgb(86, 86, 86);
}






/* CART */
.cart-modal-content{
  margin-left: auto;
  -webkit-animation-name: animateright;
  animation-name: animateright;
}

.cart-slide-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.product-card>svg{
  padding: 0;
}

.modal-subtotal{
  margin: 0rem;
  margin-top: 2rem;
  width: auto;
}

a.checkout-btn{
  text-align:center;
}




/* MENU */
.menu-modal-content{
  margin-right: auto;
  background: linear-gradient(to bottom, #C64C00, #421901, black);
  -webkit-animation-name: animateleft;
  animation-name: animateleft;
}

.modal-body > .logo{
  width: 10rem;
  display: block;
  margin: auto auto 2rem;
}

.menu-container {
  width: 80%;
  max-width: 600px;
  margin: auto auto;
}

button.accordion {
  width: 100%;
  background-color: rgba(181, 181, 181, 0.063);
  font-family: Menlo;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  color: rgb(143, 143, 143);
  cursor: pointer;
  transition: background-color 0.2s linear;
  margin-top: 1rem;
}

button.accordion:after {
  content: '\f055';
  font-family: "fontawesome";
  font-size: 14px;
  float: right;
}

button.accordion.is-open:after {
  content: '\f056';
}

button.accordion:hover, button.accordion.is-open {
  color: var(--color-text);
}

.accordion-content {
  background-color: none;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}

.accordion-content > a{
  color: var(--color-text);
  display: block;
  padding: 8px;
  text-decoration: none;
  margin-left: 10px;
}

.accordion-content > a:hover{
  color: var(--color-secondary);
}




/* SEARCH */
.search-modal-content{
  margin-left: auto;
  margin-right: auto;
  height: 5rem;
  width: 55vw;
  top: 15rem;
  background-color: #6b6a6ae0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  -webkit-animation-name: animatetop;
  animation-name: animatetop;
}

.search-modal-content > input{
  height: 3rem;
  padding: 0.5rem;
  width: 50vw;
  margin-top: 0.3rem;
  margin-right: 0.5rem;
  border-color: var(--color-secondary);
  font-family: Menlo;
  font-size: large;
  padding-left: 2rem;
}

.search-modal-content > input::placeholder{
  font-family: Menlo;
  padding-left: 1rem;
  font-size: large;
}

#searchModal{
  background-color: rgba(0, 0, 0, 0.85); /* darker black */
}


