:root{

}

/* html{
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
} */



/* MODULAR CODE */
.stack{
    display: flex;
    flex-direction: column;
    align-items: left;
}

/*
.cluster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
*/    

/* BUTTONS GENERAL*/
.btn {
    text-decoration: none;
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    font-size: 0.9rem;
}

.btn-primary {
    color: white;
    background-color: rgba(116, 116, 116, 0.5);
}

.btn-primary--hover {
    background-color: #0c62e4;
    transform:translateY(-1px)
}

.btn-primary--active {
    background-color: #0050c8;
    transform:none
}

.btn-primary--focus {
    background-color: #0f6fff;
    color: #fff;
    box-shadow:inset 0 0 0 1px #fff, 0 0 0 3px rgba(15, 111, 255, .1), 0 0 0 1px #0f6fff
}




/* BUTTONS SPECIFIC */
#shop-guitars{
    position: absolute;
    right: 150px;
    top: 700px;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.5rem;
}

#shop-keyboards{
    position: absolute;
    right: 135px;
    top: 1600px;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.5rem;
}

#shop-brass{
    position: absolute;
    left: 150px;
    top: 2200px;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.5rem;
}

#shop-drums{
    position: absolute;
    right: 150px;
    top: 2200px;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.5rem;
}


/* BROWSING FILTER */
.filter{
    height:70px;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filter > *{
    background-color: black;
    color: white;
    background:none;
    border:none;
    margin-top:5px;
    padding:10px;
}

.filter > i{
    position: relative;
    top: -5px;
}


/* BROWSING TITLE */
.title-1{
    display: flex;
    height: 70px;
    margin-top: 30px;
}

.title-1 > h3 {
    padding: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-left: 1rem;
}

.title-2{
    display: flex;
    height: 30px;
}

.title-2 > p {
    padding: 1rem;
    padding-top: 0rem;
    margin-left: 1rem;
}





/* ************ TEMPLATE COMPONENTS ********** */

/* NAV BAR */
nav {
    height:150px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

nav > * {
    width: 70px;
}

nav > .logo {
    width: 150px;
    margin-left: auto;
    position: relative;
    left:30px
}

nav > div {
    display: flex;
    width: 100px;
    padding-right: 30px;
}

nav > .burger{
    margin-left: 30px;
    width: 40px;
    height: 35px;
}

nav > .search__cart {
    margin-left: auto;
}

nav > .search__cart > .search{
    width: 40px;
    height: 35px;
}

nav > .search__cart > .cart{
    margin-left: 20px;
    width: 40px;
    height: 35px;
}

/* BANNER */
#banner{
    margin-top: 70px;
    background-image: url("../../ASSETS/banner.png");
    background-repeat: repeat-x;
    height: 200px;
}

/* FOOTER */
footer{
    height: 100px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
} 

footer > .logo {
    width: 150px;
    height: 100px;
}








/* ************** HOME PAGE ************** */
/* WELCOME MESSAGE */
.welcome__message{
    position: absolute;
    left: 50px;
    top: 170px;;
    padding-left: 3rem;
    padding-top: 1.5rem;
}

.welcome__message > .MUSIC {
    font-size: 13rem;
}

.welcome__message > .SWOP {
    position: relative;
    top: -30px;
}

.welcome__message > .SHOP {
    position: relative;
    top: -50px;
}

.welcome__message > .second-welcome{
    position: relative;
    top: -30px;
    left: 10px;
}

.welcome__message > .second-welcome > h3 + h3 + h3 {
    margin-top: 1rem;
}

.welcome__message > .second-welcome > h3 + h3 + h3 + h3 {
    margin-top: 0rem;
}

/* BACKGROUND IMAGES */
#background__container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1 1 auto;
}

#background__container > *{
    display: flex;
}

#background__guitar{
    width: auto;
    height: 100vh;
    background-image: url("../../ASSETS/guitar_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#background__piano{
    width: auto;
    height: 100vh;
    background-image: url("../../ASSETS/piano.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#background__brass_drums{
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#background__brass{
    width: 100vw;
    height: 500px;
    background-image: url("../../ASSETS/trumpet.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#background__drums{
    width: 100vw;
    height: 500px;
    margin-left: auto;
    background-image: url("../../ASSETS/drums.png");
    background-repeat: no-repeat;
    background-size: cover;
}



/* ************** BROWSING PAGE ************** */
/* PRODUCT CARDS */
/* TALK ABOUT CHANGE TO HOVER FULL BODY */

.grid-container{
    display: grid;
    width: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    justify-items: center;
    justify-content: center;
    gap:20px;
    margin: 10px;
}

.product-card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 25vw;
    text-align: center;
    align-items: center;
    margin-top: 10px;
}

.product-card:hover{
    background-color: rgba(102, 102, 102, 0.219);
    transition: all 0.4s ease-in;
}

.product-card > * {
    padding: 20px;
}

.product-card > * + *{
    padding: 15px;
}

.grid-container > .product-card > img{
    height: 190px;
    width: 140px;
}



/* MEDIA QUERIES */
@media screen and (max-width: 1000px) {
    .grid-container{
        width: auto;
        grid-template-columns: 1fr 1fr;
    }
    .product-card{
        width: 50vw;
    }
    
}





/* PX TO REM CONVERT */


      