@import "../CSS/colours.css";
@import "../CSS/forms.css";
@import "../CSS/modals.css";
@import "../CSS/reset.css";
@import "../CSS/styles.css";
@import "../CSS/typography.css";

html{ 
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
 }  

/* MODULAR CODE */
.stack{
    display: flex;
    flex-direction: column;
    align-items: left;
}

/*
.cluster {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
*/    

/* ************ TEMPLATE COMPONENTS ********** */
/* NAV BAR */
nav {
    height:150px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > * {
    width: 70px;
}

nav > a > .logo {
    width: 150px;
    justify-content: space-around;
}

nav > div {
    display: flex;
    width: 100px;
    padding-right: 30px;
}

nav > .burger{
    margin-left: 2rem;
    width: 40px;
    height: 35px;
}

nav > .search__cart > .search{
    width: 40px;
    height: 35px;
}

nav > .search__cart > .cart{
    margin-left: 20px;
    width: 40px;
    height: 35px;
}

nav > .search__cart{
    margin-right: 20px;
}

/* BANNER */
#banner{
    margin-top: 70px;
    background-image: url("../../ASSETS/banner.png");
    background-repeat: repeat-x;
    height: 200px;
}

/* FOOTER */
footer{
    height: 100px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
} 

footer > .logo {
    width: 150px;
    height: 100px;
}


/* ************ BUTTONS *************/
.btn {
    text-decoration: none;
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    font-size: 0.9rem;
    font-family: Menlo;
}

.btn-primary {
    color: var(--color-text);
    background-color: var(--color-button);      
}

.btn-primary:hover {
    background-color: var(--color-button-hover);
    transform:translateY(-2px);
}

.btn-primary:active {
    background-color: var(--color-secondary);
    transform:none;
}

.btn-secondary{
    background-color: var(--color-secondary);
}


/* ******** LINES ******* */
div > hr {
    width: 40vw;
}

.inside-line > hr{
    width: 80vw;
    justify-content: right;
    border: none;
    border-top: 1px solid var(--color-secondary);
}





/* ******** HOME PAGE ********* */
/* WELCOME MESSAGE */
.welcome__message{
    position: absolute;
    top: 170px;;
    padding-left: 7rem;
    padding-top: 1.5rem;
}

.welcome__message > .MUSIC {
    font-size: 13rem;
}

.welcome__message > .swop-shop > .SWOP {
    position: relative;
    top: -30px;
}

.welcome__message > .swop-shop > .SHOP {
    position: relative;
    top: -50px;
}

.welcome__message > .second-welcome{
    position: relative;
    top: -30px;
    left: 10px;
}

.welcome__message > .second-welcome > h3 + h3 + h3 {
    margin-top: 1rem;
}

.welcome__message > .second-welcome > h3 + h3 + h3 + h3 {
    margin-top: 0rem;
}

/* BACKGROUND IMAGES */
#background__container{
    width: 100vw;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    flex: 1 1 auto;
}

#background__container > *{
    display: flex;
}

#background__guitar{
    width: auto;
    height: 100vh;
    background-image: url("../../ASSETS/guitar_background.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#background__piano{
    width: auto;
    height: 100vh;
    background-image: url("../../ASSETS/piano.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#background__brass_drums{
    width: 100vw;
    height: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#background__brass{
    width: 100vw;
    height: 500px;
    background-image: url("../../ASSETS/trumpet.png");
    background-repeat: no-repeat;
    background-size: cover;
}

#background__drums{
    width: 100vw;
    height: 500px;
    margin-left: auto;
    background-image: url("../../ASSETS/drums.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/* SHOP BUTTONS */
#shop-guitars{
    position: absolute;
    right: 150px;
    top: 700px;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.5rem;
}

#shop-keyboards{
    position: absolute;
    right: 135px;
    top: 1600px;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.5rem;
}

#shop-brass{
    position: absolute;
    left: 150px;
    top: 2200px;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.5rem;
}

#shop-drums{
    position: absolute;
    right: 150px;
    top: 2200px;
    padding: 1rem 2rem;
    border-radius: 2rem;
    font-size: 1.5rem;
}








/* ************** BROWSING PAGE ************** */
.grid-container{
    display: grid;
    width: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    justify-items: center;
    justify-content: center;
    gap: 20px;
    margin: 1rem;
}

/* PRODUCT CARDS */
.product-card{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 20vw;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
}

.product-card:hover{
    background-color: rgba(102, 102, 102, 0.219);
    transition: all 0.4s ease-in;
}

.product-card > * {
    padding: 10px;
}

.product-card > * + *{
    padding: 15px;
}

.grid-container > .product-card > img{
    height: 180px;
    width: 140px;
}

.grid-container > .product-card > a {
    margin: 0;
    text-decoration: none;
}

/* BROWSING FILTER */
.filter{
    height:70px;
    margin-left: 1rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.filter > *{
    background-color: black;
    color: white;
    background:none;
    border:none;
    margin-top:5px;
    padding:10px;
}

.filter > i{
    position: relative;
    top: -5px;
}


/* BROWSING TITLES */
.title-1{
    display: flex;
    height: 70px;
    margin-top: 30px;
}

.title-1 > h3 {
    padding: 1rem;
    padding-top: 0rem;
    padding-bottom: 0rem;
    margin-left: 1rem;
}

.title-2{
    display: flex;
    height: 30px;
}

.title-2 > p {
    padding: 1rem;
    padding-top: 0rem;
    margin-left: 1rem;
}






/* ************ PRODUCT PAGE ***********/

/* PRODUCT CONTENT */
.product-content{
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.product-photo-container{
    align-self: center;
}
.product-photo-container > img{
    width: 45vw;
}

.product-info-container{
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin-left: 5rem;
}

.product-name-price{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3rem;
}

.product-name-price > p {
    font-size: x-large;
}

.product-titles{
    padding: 1rem;
    padding-left: 0rem;
    padding-top: 1rem;
    text-align: left;
    align-self: flex-start;
}

.photo-view{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    padding-top: 1rem;
}

.product-description{
    padding-bottom: 2rem;
}

.payment-options{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.add-to-cart{
    background-color: rgb(125, 40, 0);
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
    width: auto;
}

.product-card > img{
    height: 190px;
    width: 140px;
}

/* OTHER - PRODUCT PAGE */
.suggested-products{
    display: flex;
    justify-content: space-around;
}

.related-products{
    padding: 2rem;
    padding-left: 4rem;
}

.back-button{
    width: 100vw;
    position: relative;
    right: 2rem;
    margin-top: 1rem;
}

.back-button > a > i{
    position: relative;
    left:100px;
    scale: 3;
    background: none;
    border: none;
}



/* ***************** CHECKOUT ************** */
/* CART */
.cart-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 97vw;
}

.cart-content > *{
    padding-left: 2rem;
    padding-right: 2rem;
}

.checkout-title{
    padding: 2rem;
}

.cart-title{
    padding: 2rem;
}


.cart-image > img{
    width: 15vw;
}

.subtotal{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    width: 90vw;
}

.title-1{
    height: 2rem;
    margin-top: 1rem;
}

.subtotal-price{
    padding: 2rem;
}

/* REFACTOR THIS */
.form{
    display: flex;
    flex-direction: column;
}

.express-checkout{
    display: flex;
    flex-direction: column;
}

.express-checkout > img{
    width: 15rem;
    padding: 1.3rem;
    margin-left: auto;
}

.express-checkout > p {
    padding: 2rem;
}

.checkout{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.checkout > p {
    margin: 2rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 2rem;
}

.checkout-btn{
    border-radius: 0.5rem;
    border: none;
    background-color: rgb(144, 38, 0);
    width: 80vw;
    margin-top: 2rem;
}

/* REFACTOR? */
.checkout-area{
    display: flex;
    justify-content: center;
}

.form > p {
    padding: 2rem;
    padding-left: 0.7rem;
}

/* FORM */
/* SEE FORMS.CSS FOR STYLING */




/* ***************** CONFIRMATION PAGE **************** */
.confirmation{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.confirmation >*{
    margin:0rem;
}

.confirmation > .cart-content > .cart-image > img{
    width: 10vw;
}

.confirmation > *{
    margin: 1rem;
}

.confirmation > .checkout-btn {
    width: 40vw;
    padding: 2rem;
    margin-top: 3rem;
}

.confirmation > .cart-content >*{
    padding: 0rem;
}

.confirmation > .cart-content{
    width: 50vw;
    margin: 1rem;
}

.confirmation > h3{
    font-size: 2rem;
}

.confirmation > hr{
    width: 50vw;
}

























/************** MEDIA QUERIES *************/
/* NAV */

/* NAV BAR */
nav {
    padding-left: 20px;
    padding-right: 25px;
}


/* HOME */
@media screen and (max-width: 650px) {
    #background__brass_drums{
        height: 80vh;
        flex-direction: column;
        margin-top: 5rem;
    }

    #background__brass{
        background-size: contain;
        margin-bottom: 10rem;
    }

    #background__guitar{
        margin-top: 19rem;
        background-size: cover ;
        height: 20rem;
        position: relative;
        right: 20px;
    }

    #background__piano{
        background-size: cover;
        height: 50vh;
        width: 100vw;
    }
    
    .swop-shop{
        display: flex;
        justify-content: center;
        margin-top:1rem;
    }

    .welcome__message{
        display: flex;
        width: 80vw;
        top: 170px;
        align-items: center;
        padding:0rem;
    }

    .welcome__message > *{
        text-align: center;
    }

    .welcome__message > .MUSIC {
        font-size: 20vw;
    }

    .welcome__message > .swop-shop > .SWOP {
        font-size: 10vw;
        padding-right: 1rem;
    }
    
    .welcome__message > .swop-shop > .SHOP {
        font-size: 10vw;
        padding-left: 1rem;
        top:-30px;
    }

    .welcome__message > .second-welcome{
        margin-top: 3rem;
    }

    .sidebar-container{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .second-welcome{
        display: flex;
        flex-direction: column;
        width: 80vw;
        justify-content: center;
        align-items: center;
    }

    .welcome__message > .second-welcome{
        left: 0px;
    }


    #shop-guitars{
        left: 30px;
        top: 750px;
        text-align: center;
        width: 15rem;
    }
    
    #shop-keyboards{
        right: 30px;
        top: 1200px;
        text-align: center;
        width: 17rem;
    }
    
    #shop-brass{
        left: 30px;
        top: 1550px;
        text-align: center;
        width: 15rem;
    }
    
    #shop-drums{
        right: 30px;
        top: 1900px;
        text-align: center;
        width: 15rem; 
    }
    
    nav > a > .logo {
        width: 100px;
        justify-content: space-around;
    }
    
    nav > div {
        display: flex;
        width: 70px;
        padding-right: 10px;
    }
    
    nav > .burger{
        margin-left: 1.5rem;
        width: 20px;
        height:17px;
    }
    
    nav > .search__cart > .search{
        width: 20px;
        height: 17px;
    }
    
    nav > .search__cart > .cart{
        margin-left: 20px;
        width: 20px;
        height: 17px;
}



/* BROWSING */
@media screen and (max-width: 1000px) {
    .grid-container{
        width: auto;
        grid-template-columns: 1fr 1fr;
    }
    .product-card{
        width:30vw;
    }
    .grid-container > .product-card > img{
        height: 10rem;
        width: 8rem;
    }
    
    .filter{
        margin-left: auto;
        margin-right: auto;
        width: 80vw;
    }
}





/* PRODUCT */
@media screen and (max-width: 1000px) {
    .product-content{
        flex-direction: column;
    }
    .product-photo-container > img{
        width: 70vw;
    }
    
    .product-info-container{
        display: flex;
        flex-direction: column;
        width: 80vw;
        margin-top: 5rem;
        margin-left: 10vw;
    }
    .product-card > img{
        height: 110px;
        width: 90px;
    }
}


/* CHECKOUT */
@media screen and (max-width: 1000px) {
    .cart-content{
        width: 90vw;
    }

    .cart-content > .counter > svg{
        display: none;
    }

    .cart-content > *{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .cart-content > .cart-name > p {
        width: 40vw;
    }

    .checkout-title{
        padding: 2rem;
        padding-left: 0rem;
        width: 50vw;
        text-align: center;
    }

    .cart-title{
        padding-left: 2rem;
        padding-bottom: 2rem;
    }

    .cart-image > img{
        width: 15vw;
    }

    form{
        width: 20vw;
        margin-left: 0rem;
        margin-right: auto;
        padding: 0;
    }

    .express-checkout{
        width: 60vw;
        margin-left: -1rem;
    }

    .express-checkout > img{
        width: 40vw;
        margin: 0rem;
        margin-left: 5rem;
        margin-top: 3rem;
        padding: 0;
    }

    .express-checkout > p {
        padding: 0rem;
        width: 50vw;
        margin-left: 5rem;
        margin-top: 2rem;
    }
    
    .checkout{
        width: 50vw;
        margin-left: 4rem;
    }
    
    .checkout-btn{
        width: 50vw;
    }

    .checkout-area{
        width: 60vw;
        margin-left: auto;
        margin-right: auto;
    }

    .subtotal{
        width: 80vw;
    } 

    .form > p {
        padding: 1rem;
        padding-top: 2rem;
        padding-bottom: 0rem;
        width: 10rem;
    }
}


/* CONFIRMATION */
@media screen and (max-width: 1000px) {
    .confirmation > h3{
        text-align: center;
    }
    .confirmation > .cart-content{
        width: 70vw;
    }
}   


/* CART */
@media screen and (max-width: 1000px) {
    .cart-slide-container > .product-card > svg{
        display: none;
    }
}   























/* ************* NOTES BEFORE SUBMIT ************* */

/* REFACTOR */
/* USE SEMANTIC TAGS */
/* UPDATE PROTOTYPE */
/* EMAIL SAMANGI */
/* JUSTIFY AND REFLECT */
/* CHECK MODULARITY */
/* SHOW AND HIDE IN JS */
/* WRITE GOT FEEDBACK TESTING */
/* PX TO REM CONVERT */


/* TO SUBMIT: */
/* CHANGE VISIBILITY - PUBLIC - SETTINGS - PAGES - MAIN - REFRESH <3 */