body {
    font-family: Arial, Helvetica, sans-serif

}

@font-face {
    font-family: Blackletter97;
    src: url("../../ASSETS/blackletter_97/Blackletter97.ttf");
}

@font-face {
    font-family: Menlo;
    src: url("../../ASSETS/menlo/Menlo-Regular.woff");
}

:root{
    font-small: 150px;
}


h1{
    font-family: 'Blackletter97', sans-serif;
    font-size: 150px;
}

h3{
    font-family: Menlo;
    text-transform:uppercase;
}

body{
    font-family: Menlo;
    color: white;
}




