@import "../CSS/colours.css";
@import "../CSS/forms.css";
@import "../CSS/modals.css";
@import "../CSS/reset.css";
@import "../CSS/styles.css";
@import "../CSS/typography.css";


@font-face {
    font-family: Blackletter97;
    src: url("../../ASSETS/blackletter_97/Blackletter97.ttf");
}

@font-face {
    font-family: Menlo;
    src: url("../../ASSETS/menlo/Menlo-Regular.woff");
}

:root{
    --font-xs: 0.5rem;
    --font-small: 1rem;
    --font-medium: 1.2rem;
    --font-large: 4rem;
    --font-heading: 9.375rem;

}

h1{
    font-family: 'Blackletter97', sans-serif;
    font-size: var(--font-heading);
}

h3{
    text-transform:uppercase;
    font-size: var(--font-medium);
}

p{
    color: var(--color-text);
}

body{
    font-family: Menlo;
}




