body {
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Passion One', cursive;

}

@font-face {
    font-family: Blackletter97;
    src: url("../../ASSETS/blackletter_97/Blackletter97.ttf");
}

:root{
    font-small: 150px;
}


h1{
    font-family: 'Blackletter97', sans-serif;
    font-size: 150px;
}



